<div class="vert-nav" [ngClass]="{'show': loadMainContent}">
  <ul>
    <li class="active panel1" [dataActive]="'top-panel'" portVertNavItem>
      <span></span>
    </li>
    <li class="panel2" [dataActive]="'second-panel'" portVertNavItem>
      <span></span>
    </li>
    <li class="panel3" [dataActive]="'third-panel'" portVertNavItem>
      <span></span>
    </li>
    <li class="panel4" [dataActive]="'fourth-panel'" portVertNavItem>
      <span></span>
    </li>
    <li class="panel5" [dataActive]="'fifth-panel'" portVertNavItem>
      <span></span>
    </li>
  </ul>
</div>
